@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
}
:root {
    --default-height: 45px
}
body {
    /*background: #54a5e7; */
    background-image: url("https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    width: 100%;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.full_box {
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    width: 85%;
    height: auto;
    padding: 30px 30px;
    border-radius: 10px;
    box-shadow: -22px -2px 95px 9px rgba(0,0,0,0.12);
-webkit-box-shadow: -22px -2px 95px 9px rgba(0,0,0,0.12);
-moz-box-shadow: -22px -2px 95px 9px rgba(0,0,0,0.12);
}
.form_input {
    text-align: center;
    display: block;

}
.head_ing {
    font-family: fantasy;
    letter-spacing: 3px;
    color: #54a5e7;
    pointer-events: none;
    user-select: none;
    text-shadow: 0px 2px 1px  #f9f9f9;
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0px;
    color: #f9f9f9;
    text-shadow: 2px 2px 6px #2e2c2b54;
}
.data {
    position: relative;
    width: fit-content;
    margin: auto;
    display: flex;
}
#input {
    width: 50vw;
    height: var(--default-height);
    padding: 17px 12px;
    border-radius: 5px;
    outline:none;
    border:none;
    font-size: 16px;
}
.btn {
    background: #54a5e7;
    padding: 0px 15px;
    margin-left: -10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    border: none;
    color: #f9f9f9;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    height: var(--default-height);
    transition: all 1s;
}
.btn:hover {
    background: #1871b9;
}

/* ben css */
.weather-predictions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}
.weather-predictions > * {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 30px;
    gap: 10px;
}
.weather-predictions > *:nth-child(odd) {
    background-color: #54a5e7;
}

/* suggestions */
#suggestions{
    text-align: start;
    position: absolute;
    top: var(--default-height);
    background-color: transparent;
    width:auto;
    padding: 5px 0px;
    font-size: 19px;
    color: #f9f9f9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#suggestions > *:hover {
    background: #000;
    cursor: pointer;
}
.temperature {
    font-size: 45px;
    font-family: 'Anton', sans-serif;
    font-weight: 600;
    color: rgb(15, 14, 14);
    text-shadow: 0px 0px 4px white;
    letter-spacing: 2px;
    text-transform: lowercase;
}
.weather-status {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    text-transform: capitalize;
}
.location-details span {
    font-weight: 600;
    color: brown;
}

@media screen and (max-width: 600px){
    :root {
        --default-height: 35px
    }
    h1 {
        font-size: 17px;
    }
    #input {
        width: 55vw;
        font-size: 11px;
        padding: 10px 11px;
    }
    .btn {
        padding: 0px 10px;
        font-size: 11px;
    }
}